:root {
  --color-main: #E4FBFF;
  --color-top: #EAF6F6;
  --color-second: #B8B5FF;
  --color-third: #7868E6;
  --color-fourth: #EDEEF7;
}

body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
/*  background-color: var(--color-main);*/
  color: #40514E;
}
.headings{
  padding-top: 100px;
  margin: 0px auto 0 auto;

}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
/*  color: #66BFBF;*/
  color: #075985;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

  color: #66BFBF;
}

h3{
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: var(--color-top);
}

hr {
  width: 5%;
  border: none;
  margin: 50px auto 100px;
  border-top: 6px dotted lightgray;
}
.description-text{
  color: #40514E;
}

.bottom-container{
  position: relative;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
/*  position: relative;
  padding-top: 100px;
  left: 250px;
*/
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}
.webdev{
  display: none;
}
.citation{
  display: none;
}
.profile-row{
    width: 50%;
    margin: 0px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.programmer{
  width: 15%;
  float: left;
  margin-right: 30px;
  margin-bottom: 12px;
}
.python{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 12px;
}
.citation-programmer{
    margin-top: 24px;
    font-size: 10px;
    clear: left;
}
.AI{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.citation{
  font-size: 12px;
}
.citation1{
  margin-top: 24px;
  font-size: 10px;
  clear: left;
}
.citation2{
  font-size: 10px;
  clear: right;
}
.talk-to-us{
  width: 50%;
  margin: auto;
  line-height: 2;
  text-align: left;
  color: #40514E;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.btn{
    margin-top: 25px;
    margin-bottom: 50px;
}
.BUTTON_CONTACT {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
/*   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;*/
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CONTACT:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.logo{
  height: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 50px;
}
.bottom-container p{
  margin-bottom: 0;
  padding-bottom: 25px;
}
